.mediaItem
{
  background-color: rgba(56, 200, 240, 0.5);	
 width: 30%;
 margin: 1%;
 border-radius: 7px;
 float: left;
}

.mediaItem h2
{
 background-color: rgba(229, 239, 220, 1.0);
 border-radius: 7px 7px 0 0 ;
 margin: 0;
 padding: 0;
 text-align: center;
}

.mediaItem img
{
 //background-color: rgba(29, 139, 120, 1.0);	
 height: 100px;
 margin-left: 100px;
 
}

.mediaItem p
{
 background-color: rgba(229, 239, 220, 1.0);	
 border-radius: 0 0 7px 7px;
 margin-bottom: 0;
 padding-bottom: 0; 
 text-align: center;
}